project_id = "reqklgwpwysawodawzil"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10
enable_signup = true
enable_anonymous_sign_ins = false

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false

[functions.lookup-price]
verify_jwt = false

[functions.install-presets]
verify_jwt = false

[functions.seed-prices]
verify_jwt = false

[functions.scan-data-plate]
verify_jwt = false

[functions.analyze-unit-condition]
verify_jwt = false

[functions.read-error-codes]
verify_jwt = false

[functions.scan-softener-plate]
verify_jwt = false

[functions.analyze-filter-condition]
verify_jwt = false
